.listLink {
  /* margin-left: 30px; */
  text-decoration: none;
  color: white;
  display: block;
  background-color: black;
  padding: 10px;
  width: 90%;
  font-size: large;
}
.listLink:hover {
  /* margin-left: 30px; */
  color: blue;
}

.cardSet {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.cardItem {
  text-align: center;
  display: inline-block;
  width: 200px;
  height: 250px;
  margin: 1%;
  padding: 0;
}
.comingSoon {
  background-image: url("../images/game_images/coming_soon.png");
}
.Asteroids {
  background-image: url("../images/game_images/asteroids.png");
}
.Stargazers {
  background-image: url("../images/game_images/stargazers.png");
}
.Dimension {
  background-image: url("../images/game_images/dimension.png");
}
body2 {
  text-align: center;
  padding: 0;
  margin: 0;
}
